
.footer-links+a {
	color: #000;
}

.footer-links img {
	width: 20px;
}


.footer{background:#747474;margin-top:117px}
.footer-links{padding:0;text-align:center;margin:0 auto;}

.footer-links li{margin:0 35px;list-style:none;
display:inline;text-align:center;}
.color-white{color:#ffff;}


