/*****Cause single****/
section.cause-single{
background-image:url('../../images/banner.jpg');
background-position:top;
background-size:100%30%;
background-repeat:no-repeat;}
.hr2{
width:100%;
border-top:1px solid #EFEFEF;
margin-top:20px;
margin-bottom:0;
padding-bottom: 28px;
}
.bg-cause{
    width: 37%;
}
.align-items{align-items:center;}
.bg-white{background:#FFFFFF 0%0% no-repeat padding-box;
box-shadow:0px 2px 5px#00000012;padding:0;
border-radius:8px;}
.green-btn{
background:#7BCB34 0%0% no-repeat padding-box;
box-shadow:0px3px6px#FFFFFF38;
border-radius:4px;
color:#fff;
border:none;
text-align:center;
padding:3px 20px;
font-size:15px;
}
.circletest{
margin:10px auto 20px auto;
width:160px;
height:160px;
border-radius:50%;
border:12px solid transparent;
background-size:100%100%,79%62%,50%50%,50%40%,50%50%;
background-repeat:no-repeat;
background-image:linear-gradient(white,white),
linear-gradient(81deg,#72D4FF 99%,transparent 0%),
linear-gradient(90deg,#06C986 105%,transparent 0%),
linear-gradient(198deg,#FFC14D 79%, transparent 0%),
linear-gradient(300deg,#AE83FF 152%, transparent 0%);
background-position:center center, left top, right top, left bottom, right bottom;
background-origin:content-box, border-box, border-box, border-box, border-box;
background-clip:content-box, border-box, border-box, border-box, border-box;
transform:rotate(320deg);
}
.color-green{color:#58A82C;}
.wd-25{width:25px;border-radius:30px;margin-right:15px;}
.report{
background:#fff;
padding:8px 10px;
border-radius:4px;
color:#B90000;margin-right:20px;
box-shadow:0px 3px 6px #00000029;
}
.bg-grey{
background:#F4F4F4;
height:242px;
width:40%;
border-radius:50%;
margin-right:40px;
}
.report:hover{text-decoration:none;}
.share:hover{text-decoration:none;}
.share{
background:#fff;
padding:8px 10px;
border-radius:4px;
color:#369A00;
box-shadow:0px 3px 6px #00000029;
}

section.cause-single{
background-image:url('../../images/banner.jpg');
background-position:top;
background-size:100%16%;
background-repeat:no-repeat;
padding: 33px 68px;
}

/*Nikita*/
.shadow{
    box-shadow: 0px 2px 5px #00000012;
    border-radius: 8px;
    padding: 28px;
}
.Montserrat-medium{
    font-family: "Montserrat-Medium";
}
.fs-24{
    font-size: 24px;
}
.m-24{
    margin: 24px 0 24px 0;
}
.m-t-80{
    margin-top: 80px;
}
.p-20{
    padding: 20px 0;
}
.pt-10{padding-top: 10px;}
.pt-20{padding-top: 20px;}
.pt-25{padding-top: 25px;}
.pt-30{padding-top: 30px;}
.pt-35{padding-top: 35px;}
.pt-40{padding-top: 40px;}
.pt-45{padding-top: 45px;}
.pt-50{padding-top: 50px;}
.pt-60{padding-top: 60px;}
.pt-70{padding-top: 70px;}
.pt-80{padding-top: 80px;}
.pt-90{padding-top: 90px;}
.pt-55{padding-top: 55px;}
.p-20{padding: 20px 20px 0 20px;}
.pb-10{padding-bottom: 10px;}
.pb-20{padding-bottom: 20px;}
.pb-25{padding-bottom: 25px;}
.pb-30{padding-bottom: 30px;}
.pb-35{padding-bottom: 35px;}
.pb-40{padding-bottom: 40px;}
.pb-45{padding-bottom: 45px;}
.pb-50{padding-bottom: 50px;}
.pb-60{padding-bottom: 60px;}
.pb-70{padding-bottom: 70px;}
.pb-80{padding-bottom: 80px;}
.pb-90{padding-bottom: 90px;}
.pb-55{padding-bottom: 55px;}
.f-s-20{
    font-size: 20px;
}